body {
    width: 90%;
    border-width: 2px;
    border-style: solid;
    margin: 0 auto;
}

table {
    width: 70%;
    border-width: 2px;
    border-style: solid;
}

#home-page{
  width: 70%;
  border-width: 2px;
    border-style: solid;
}

img.profile-pic {
  float: left;

  width: 30%;
  padding: 5px;
}
p {
  width: 70%;
  position: relative;
}