* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

ul{
  width: 100%;
    background-color: #B4B3D6;
}

li{
    text-align: center;
    display: inline;
    width: 50%


}

body{
  width: 90%;
  margin: 0 auto;
}

#blog-body{

  width: 100%;

    border-bottom-style: solid;
    border-top-style: solid;


}

#blog-body2{

  border-bottom-style: solid;
    border-top-style: solid;

}

.post-body{
  width: 100%;
  overflow: hidden;


}

.content{
  width: 70.91%;
  float: left;
  max-height: 250px;
  margin: 10px auto ;
  overflow: auto;


}

.thumbnail{
  width: 25.09%;
  float: left;
  margin: auto 10px;

}

img{
  width: 100%;
}

.expand-artilcle{

  float: right;


}

table{
  clear: left;
  text-align: center;
}
