*{
  text-align: center;
  font-family: Arial, Verdana, sans-serif;

}
body {
    width: 90%;

    margin: 0 auto;
}

table{
    width: 100%;

    background-color: #B4B3D6;

}

#home-page{
  width: 100%;

  overflow: auto;
  height: 100%;
}

.pic, {

  width: 37.91%;
  height: 47.91%;

  margin: 10px;
  }

  .profile-pic{

  width: 37.91%;
  height: 47.91%;
  float: left;
  margin: 10px;

  }

  .content{

  width: 45.83%;
  float: left;
  margin: 10px;

}

.para{
  text-align: left;
}
footer{

  width: 100%;
  margin: 10px;

}

li{
  text-align: left;
}

