*{
  text-align: center;
}
body {
    width: 960px;
    border-width: 2px;
    border-style: solid;
    margin: 0 auto;
}

table{
    width: 100%;
    border-width: 2px;
    border-style: solid;
}

#home-page{
  width: 100%;
  border-width: 2px;
  border-style: solid;
  overflow: auto;
  height: 100%;
}

.pic, .profile-pic{

  width: 47.91%;
  height: 47.91%;
  float: left;
  margin: 10px;



  }

  .content{

  width: 45.83%;
  float: left;
  margin: 10px;

}


footer{

  width: 100%;
  margin: 10px;



}

